<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>layout_01</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="layout_01">
    <ul>
        <li>
            <div class="img_box1"></div>
        </li>
        <li>
            <div class="img_box2"></div>
        </li>
        <li>
            <div class="img_box3"></div>
        </li>
        <li>
            <div class="img_box4"></div>
        </li>
    </ul>
</div>

<div class="layout_02">
    <div>
        <p>ARTIST</p>
        <ul>
            <li>
                <div class="img_box1"></div>
            </li>
            <li>
                <div class="img_box2"></div>
            </li>
            <li>
                <div class="img_box3"></div>
            </li>
            <li>
                <div class="img_box4"></div>
            </li>
        </ul>
    </div>
</div>
</body>
</html>